{
  "presets": [
    "@babel/react",
    "@babel/flow",
    ["@babel/env", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/transform-react-constant-elements",
    "@babel/proposal-class-properties",
    "@babel/proposal-optional-chaining",
    "id",
    ["styled-components", { "ssr": true }],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
